<div class="container">
    <div class="card small">
        <div class="card-body mx-5">
            <form [formGroup]="projectForm">


                <div class="row">
                    <div class="input-group mb-3 col-md-4">

                        <span> End Date </span>
                        <div class="input-group mb-3 col-md-4">

                            <input autocomplete="endDate" class="form-control" formControlName="endDate" required
                                type="date" title="End Date" />
                        </div>
                        <span> Start Date </span>
                        <div class="input-group mb-3 col-md-4">

                            <input autocomplete="startDate" class="form-control" formControlName="startDate" required
                                type="date" title="Start Date" />
                        </div>
                        <span> Amount </span>
                        <div class="input-group mb-3 col-md-4">
                            <input autocomplete="Amount" class="form-control" formControlName="amount" required
                                type="number" title="Amount" />
                        </div>
                        <div class="input-group mb-3 col-md-4">
                            <input autocomplete="description" class="form-control" formControlName="description"
                                placeholder="description" required type="text" />
                        </div>
                        <div class="input-group mb-3 col-md-4">
                            <input autocomplete="name" class="form-control" formControlName="name" placeholder="Name"
                                required type="text" />
                        </div>

                        <div class="input-group mb-4 col-md-4">
                            <input autocomplete="projectCode" class="form-control" formControlName="projectCode"
                                placeholder="Project Code" required type="text" />
                        </div>
                        <div class="input-group mb-4 col-md-4">
                            <select class="form-control" formControlName="gpChefProjet">
                                <option value="">Choisir un Chef de projet</option>
                                <option *ngFor="let item of gpChefProjets" [ngValue]="item">
                                    {{ item.fileNumber }} {{ item.firstname }}
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-4 col-md-4">
                            <select class="form-control" formControlName="gpOrganization">
                                <option value="">Choisir une Organization</option>
                                <option *ngFor="let item of gpOrganizations" [ngValue]="item">
                                    {{ item.name }}
                                </option>

                            </select>
                        </div>
                        <div class="input-group mb-4 col-md-4">
                            <button (click)="onSaveProject(projectForm.value)" [disabled]="projectForm.invalid"
                                class="btn btn-primary px-4" type="button">
                                Ajouter
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<pre>{{projectForm.value | json}}</pre>