<div class="container">
  <div class="card small">
    <div class="card-body mx-5">
      <form [formGroup]="phaseForm">


        <div class="row">
          <div class="input-group mb-3 col-md-4">

            <span> End Date </span>
            <div class="input-group mb-3 col-md-4">

              <input autocomplete="endDate" class="form-control" formControlName="endDate" required
                     title="End Date" type="date"/>
            </div>
            <span> Start Date </span>
            <div class="input-group mb-3 col-md-4">

              <input autocomplete="startDate" class="form-control" formControlName="startDate" required
                     title="Start Date" type="date"/>
            </div>
            <div class="input-group mb-3 col-md-4">
              <select class="form-control" formControlName="isEnded">
                <option value="">isEnded</option>
                <option *ngFor="let item of boolList" [value]="item.value">
                  {{ item.label }}
                </option>
              </select>
            </div>
            <div class="input-group mb-4 col-md-4">
              <input autocomplete="phaseCode" class="form-control" formControlName="phaseCode"
                     placeholder="Phase Code" required type="text"/>
            </div>
            <div class="input-group mb-3 col-md-4">
              <select class="form-control" formControlName="status">
                <option value="">Status</option>
                <option *ngFor="let item of boolList" [value]="item.value">
                  {{ item.label }}
                </option>
              </select>
            </div>
            <div class="input-group mb-3 col-md-4">
              <input autocomplete="amount" class="form-control" formControlName="amount"
                     placeholder="Amount" required type="number"/>
            </div>
            <div class="input-group mb-3 col-md-4">
              <input autocomplete="description" class="form-control" formControlName="description"
                     placeholder="description" required type="text"/>
            </div>


            <div class="input-group mb-4 col-md-4">
              <button (click)="onSavePhase(phaseForm.value)" [disabled]="phaseForm.invalid"
                      class="btn btn-primary px-4" type="button">
                Ajouter
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <pre>{{project | json}}</pre>
<pre>{{phaseForm.value | json}}</pre>-->
