<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Creation Date</th>
                <th>End Date</th>
                <th>Start Date</th>
                <th>Update Date</th>
                <th>Description</th>
                <th>Name</th>
                <th>Project Code</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <td>{{project.amount}}</td>
                <td>{{project.creationDate}}</td>
                <td>{{project.endDate}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.updateDate}}</td>
                <td>{{project.description}}</td>
                <td>{{project.name}}</td>
                <td>{{project.projectCode}}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="edit(project.id)">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="delete(project.id)">Delete</button>
                    <button type="button" class="btn btn-info" (click)="projectPhase(project.id)">Phases</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>