<div class="container">
  <div *ngIf="project.id">
    <button (click)="addproject(project.id)" class="btn btn-primary" type="button">Add phase to Project</button>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Code</th>
      <th>Start Date</th>
      <th>Status</th>
      <th>Amount</th>
      <th>Creation Date</th>
      <th>Description</th>
      <th>End Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let phase of listPhases">
      <td>{{phase.phaseCode}}</td>
      <td>{{phase.startDate}}</td>
      <td>{{phase.status}}</td>
      <td>{{phase.amount}}</td>
      <td>{{phase.creationDate}}</td>
      <td>{{phase.description}}</td>
      <td>{{phase.endDate}}</td>
      <td>
        <button (click)="edit(phase.id)" class="btn btn-primary" type="button">Edit</button>
        <button (click)="delete(phase.id)" class="btn btn-danger" type="button">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
