<div class="container">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-center">
        {{ title }} employee
      </h5>
      <div class="card-body">
        <form (ngSubmit)="save()" [formGroup]="empForm">
          <div class="row my-1">
            <div class="form-group col-md-4">
              <input class="form-control" formControlName="fileNumber" placeholder="File number"
                     type="text">
              <p *ngIf="f.fileNumber.touched && f.fileNumber.invalid"
                 [ngClass]="f.fileNumber.invalid? 'text-danger':''">This field is required</p>
            </div>
            <div class="form-group col-md-4">
              <input class="form-control" formControlName="firstname" placeholder="Firstname" type="text">
            </div>
            <div class="form-group col-md-4">
              <input class="form-control" formControlName="lastname" placeholder="Lastname" type="text">
            </div>
          </div>

          <div class="row my-1">
            <div class="form-group col-md-2">
              <input class="form-control" formControlName="email" placeholder="Email" type="text">
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" formControlName="login" placeholder="Login" type="text">
            </div>
            <div class="form-group col-md-4">
              <input class="form-control" formControlName="password" placeholder="Password"
                     type="password">
            </div>
            <div class="form-group col-md-4">
              <input class="form-control" formControlName="phoneNumber" placeholder="Phone"
                     type="text">
            </div>
          </div>
          <div class="d-flex card-footer justify-content-center">
            <button [disabled]="empForm.invalid" class="btn btn-primary btn-sm mx-2" type="submit">Register</button>
            <button class="btn btn-secondary btn-sm" type="reset">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
