<div class="container">
    <div class="card">
        <div class="card-body">
            <table boder="1" class="table table-striped">
                <tr>
                    <th>Creation Date</th>
                    <th>File Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>login</th>
                    <th>Phone Number</th>
                    <th>Update Date</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor="let pm of projectManagers">
                    <td>{{pm.creationDate}}</td>
                    <td>{{pm.fileNumber}}</td>
                    <td>{{pm.firstname}}</td>
                    <td>{{pm.lastname}}</td>
                    <td>{{pm.login}}</td>
                    <td>{{pm.phoneNumber}}</td>
                    <td>{{pm.updateDate}}</td>
                    <th><a href="" class="btn btn-outline-info">Edit</a></th>
                    <th><a href="" class="btn btn-outline-danger">Supprimer</a></th>
                    <th><a href="" class="btn btn-outline-primary">Phase</a></th>
                </tr>
            </table>
        </div>
    </div>

</div>